@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@font-face {
    font-family: "VALORANT";
    src: url(/font/Valorant\ Font.ttf);
}
@font-face {
    font-family: "Rationale";
    src: url(/font/Rationale-Regular.ttf);
}
@font-face {
    font-family: "Roblox";
    src: url(/font/Roblox\ Font\ Regular.ttf);
}

@font-face {
    font-family: "Silkscreen";
    src: url(/font/Silkscreen-Regular.ttf);
}

:root{
    --main-color:#151351;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roblox';
    margin:0; padding:1px;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
    background: transparent;
}

html::-webkit-scrollbar-track{
    background: black;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}








body{
    background: url(/images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    font-family: "VALORANT";
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    font-weight: lighter;
}

.btn:hover{
    letter-spacing: .2rem;
    background-color: grey;
    color: #010103;
}

.header{
    
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 7%;
    border-bottom: transparent;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    transition: background 0.75s ease;
}



.header .logo img{
    height: 6rem;
}

.header .navbar a{
    font-family: "VALORANT";
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    font-family: "VALORANT";
    color: #211d81;
    border-bottom: .1rem solid #211d81;
    padding-bottom: .5rem;
}

.header .navbar img{
    width: 22px;
    position: absolute;
    margin-top: -0.25%;
    margin-left: 0.10%;

}



#menu-btn{
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/body-back.jpg) no-repeat;
    /* IMG CREATE BY RENATO GONZALEZ */
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
    margin-bottom: 3%;
}

.home .content h3{
    font-size: 120px;
    text-transform: uppercase;
    color:#fff;
    font-family: "Roblox";
    font-weight: lighter;
}

.home .a{
    background-size: 75px 240px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#19165f, #10103d);
    padding: 25px;
    background-position: fixed;
}

.home .b{
    padding-top: 15px;
    padding-left: 25px;
    

}

.home .fbg{
    background-color: rgba(189, 189, 189, 0.388);
    width: 3px;
    height: 48px;
    position: absolute;
    margin-left: 8px;
    margin-top: 15px;
    border-radius: 5px;
}

.home .btn{
    margin-top: 100px;
    
}

.home .content{
    margin-top: 50px;
    margin-left: 50px;
}

.home .content p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.8;
    color:#eee;
    font-family: "Rationale";
    
    
}
.home .content h1{
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
    font-family: "Roblox";
}

.home .blur{
    position: absolute;
    background-color: rgba(11, 24, 64, 0.182);
    bottom: 0;
    right: 0;
    width: 30%;
    height: 15%;
    border-radius: 30px;
    backdrop-filter: blur(8px);
    
}

.home .blur>h3{
    color: white;
    font-size: 11px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 2px;
    font-family: "VALORANT";
}
.home .blur>p{
    font-family: "Rationale";
    color: white;
    padding: 10px;
    margin-left: 20px;
    font-size: 9px;

}

/* -------------------------PROCESS-------------------------- */

.process .table>img{
    right: -5%;
    margin-top: -10%;
    margin-bottom: 0px;
    position: absolute;
    width: 45%;
}

.process #line{
    margin-top: 50px;
    width: 63%;
    height: 3px;
    background-color: rgba(89, 135, 135, 0.271);
    margin-bottom: 15%;
    border-radius: 5px;
}

.process .line{
    width: 35.5%;
    height: 3px;
    left: 0;
    margin-left: 30px;
    background-color: rgba(89, 135, 135, 0.271);
    margin-bottom: 15%;
    border-radius: 5px;
    position: absolute;
    margin-top: 4%;

}

.process .table{
    margin-top: 10%;
}

.process>h1{
    font-family: "VALORANT";
    margin-top: 20px;
    margin-left: 30.5%;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.845);
    position: absolute;
}


/* -----------------INTER PAGE------------ */

.container {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: absolute;
    color: rgba(172, 172, 172, 0.103);
    transform: translateY(-50%);
    margin-top: -3%;
    z-index: -4;
  }
  .txt {
    font-family: "VALORANT";
    white-space: nowrap;
    font-size: 200px;
    animation: scrollTxt 20s linear infinite;
  }
  @keyframes scrollTxt {
    0%{
      transform: translate(-100%, 0);
    }
    100% {
      transform: translate(0%, 0);
    }
  }

/* ----------------------COMPETENCES--------------- */


.skill .main{
    
    margin-top: 7%;
    
}

.skill .main>h2{
    font-family: "VALORANT";
    font-size: 80px;
    color: rgba(255, 255, 255, 0.845);
    z-index: 1;
    
    
    
}

.skill .main .bottom-right{
    margin-top: 26%;
    margin-left: 23.5%;
}

.skill .main .bottom-left{
    margin-left: -3%;
}

.skill .main>img{
    width: 30%;
    opacity: 0.6;
    background-color: #15135181;
    border: 2.5px solid rgba(122, 122, 122, 0.448);
    z-index: 0;
    position: absolute;
    
}



.skill .line1{
    margin-top: 2%;
    width: 22%;
    height: 3px;
    margin-left: 31%;
    position: absolute;
    background-color: rgba(89, 135, 135, 0.271);
}

.skill .line2{
    margin-top: 15%;
    width: 20%;
    height: 3px;
    margin-left: 31%;
    position: absolute;
    background-color: rgba(89, 135, 135, 0.271);
}

.skill .line3{
    margin-top: -3.5%;
    width: 13%;
    height: 3px;
    margin-left: 40%;
    position: absolute;
    background-color: rgba(89, 135, 135, 0.271);
}


body .arco { 
  
    background-image: linear-gradient(none); 
    display: flex;
    flex-direction: column;
    font-family: "VALORANT";
    font-weight: 400;
    height: 100vh;
    justify-content: center;
    right: 0;
    margin-right: 14%;
    position: absolute;
    margin-top: -3.5%;
}

.faq { 
    font-size: 10px;
    background-color: #706f941f;
    border-radius: 25px;
    padding: 5px 25px;
    margin: 150px 5% 5% 5%;
    min-width: 320px;
    max-width: 320px;
}



.faq__heading { 
    color: var(--blue-dark);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center; 
}

.faq__detail {
    border-bottom: 1px solid hsla(240, 4%, 91%, 0);
    margin: 20px 0 0 0;
    padding: 5px 0 20px 0;
}

.faq__summary:hover,
.faq__summary:active { 
    color: var(--orange);
    cursor: pointer; 
}

.faq__detail[open] > .faq__summary { 
    font-weight: 700; 
}

.faq__summary {
    list-style: none;
  }

.faq__summary::-webkit-details-marker {
    display: none;
  }

.faq__summary { 
    display: block;
    padding: 0;
    position: relative;
    text-align: right;
}

    
.faq__summary:after {
    display: inline-block;
    content: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right center;
    text-align: right;
    padding-bottom: 20px;
  }
  
details[open] .faq__summary:after {
    display: inline-block;
    width: 18px;
    height: 10px;
    content: "";
    background-image: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right;
    transform:scaleY(-1);
}
  
.faq__logo img{
    width: 100%;
    align-items: center;
}

.faq__question {
    font-family: "VALORANT";
    left: 0;
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.821);
    top: -5px;
    width: 90%;
}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: center;
    width: 90%;
}

.faq__summary {
    color: var(--blue-dark);
    font-size: 1.4rem; 
}

.faq__summary:focus {
    color: var(--orange); 
    font-weight: bold;
    outline: none;
}

.faq__text {
    color: rgba(255, 255, 255, 0.697);
    font-size: 15px;
    line-height: 1.6;
    margin: 10px 0 0 0;
    font-family: "Rationale";
}

.hidden-lg { display: block; }
    
.visible-lg { display: none; }


/* --------------------RESSOURCES------------------- */

.blogs{
    margin-top: 7%;
}

.blogs .line1{
    background-color: rgba(89, 135, 135, 0.271);
    width: 7%;
    margin-left: 1.5%;
    margin-bottom: -3.5%;
    height: 3px;

}

.blogs .line2{
    background-color: rgba(89, 135, 135, 0.271);
    width: 49%;
    height: 3px;
    margin-bottom: -10%;
    position: absolute;
    right: 0;
    margin-right: 5%;
}

.blogs .heading{
    font-size: 80px;
    text-align: left;
    margin-left: 10%;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
    font-family: "VALORANT";
    
    
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}


.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
    font-family: "Rationale";
}
/* -----------------------------CONTACT---------------------------------- */

#inu{
    width: 500px;
    height: 500px;
}

#robot{
    z-index: -11;
    width: 65%;
    opacity: 1;
}


#tra{
    margin-top: -10%;
}

.back{
    right: 0;
    margin-right: 22.7%;
    position: absolute;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.485);
    margin-top: -10%;
    width: 56.5%;
    height: 65%;
    border: 2.5px solid rgba(115, 115, 115, 0.589);
}


.col-sm-121{
    margin-top: -10%;
    margin-left: 5%;
}

.col-sm-122{
    margin-top: -2%;
    margin-left: 25%;
}
.col-sm-123{
    margin-top: 5px;
}

.list-item{
    margin-left: 15%;
}


#contact {
    
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    z-index: 3;
    
  }
  .form-control{
    border : 2px solid rgba(122, 122, 122, 0.448);
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: "VALORANT";
    font-size: 80px;
    margin-top: 4%;
    
    
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    margin-top: 5px;
    max-width: 400px;
    
    background-color: #0a0a1ecc;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 20px;
  }
  
  .phone {
    margin-left: 10px;
  }
  
  .gmail {
    margin-left: 3%;
  }
  

  #car{
    margin-left: 9%;
  }

  #pho{
    margin-left: 9%;
  }

  #env{
    margin-left: -15%;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

/* -----------------------------FOOTER---------------------- */
.footer{
    background:var(--black);
    text-align: center;
    margin-top: -15%;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}











/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
@media (min-width: none) {
    .faq {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-width: 900px;
        padding: 0;
        margin: 0;
    }

    .faq__logo__holder { 
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .faq__holder {
        margin: 0 50px;
        padding: 70px 0;
        max-width: 350px;
        width: 350px;
    }


    .faq__heading {
        text-align: left;
    }

    .hidden-lg { display: none; }

    .visible-lg { 
        display: block; 
        position: absolute;
        margin-top: 120px;
        left: -80px;    
    }

    .faq__text {
        margin: 0 0 10px 0;
        font-size: 10px;
    }

    .faq__detail {
        margin: 10px 0 0 0 0;
        padding: 0;
        
    }
    .faq__question{
        font-size: 10px;
    }
}


